<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.opencontent.android.opentagger" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="it.opencontent.android.opentagger.WebviewListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="it.opencontent.android.opentagger.WebviewDetailActivity"
            android:label="@string/title_webview_detail"
            android:parentActivityName="it.opencontent.android.opentagger.WebviewListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.opencontent.android.opentagger.WebviewListActivity" />
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
